{% extends "root-template.html" %}
{% block header %}
<style type="text/css">
    html, body {
        height: 100%
    }

    .parent {
        display: table;
        height: 70%;
        width: 100%;
    }

    .child {
        display: table-cell;
        vertical-align: middle;
    }

    div.row-buffer {
        margin: 10px;
    }

    div.form-group {
        margin: 10px;
    }

    div.text-center {
        margin: 10px;
    }

    label {
        margin-right: 10px;
    }
</style>
<script type="text/javascript">
    var postRequest = function (params) {
        $.ajax({
            async: true,
            type: "POST",
            url: "start.php",
            data: params,
            success: function (data) {
                $("#content").html(data);
            },
            error: function (xhr, status, error) {
                // TODO: Handle error here
            }
        });
    }
    window.onload = function () {
        postRequest("actionId={{actionToChannels}}&viewId={{viewId}}");
    }
</script>
{%endblock%}
{%block title%}Start{%endblock%}

{%block content%}
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Team Channel</a>
        </div>
        <ul class="nav navbar-nav">
            <!-- Channel selection -->
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Channels <span
                    class="caret"></span></a>
                <ul class="dropdown-menu">
                    <!-- Iterate over already existing channels -->
                    <li class="divider"></li>
                    <li class="dropdown-header">Actions</li>
                    <li><a href="#" onclick="postRequest('actionId={{actionToNewChannel}}&viewId={{viewId}}');">New
                        Channel</a></li>
                    <li>
                        <a href="#" onclick="postRequest('actionId={{actionToChannels}}&viewId={{viewId}}')">List
                            Channels</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Administration <span
                    class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="start.php?viewId={{viewId}}&actionId={{actionLogout}}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<section>
    <div class="parent">
        <div id="content" class="child">
        </div>
    </div>
</section>
{%endblock%}