<div class="row row-buffer">
    <div class="col-md-4 col-md-offset-4">
        <div class="text-center">
            <div>
                <button id="successButton" class="btn btn-default" type="button" onclick="toLogin();">To Login
                </button>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<script type="text/javascript">
    // Set timeout before redirecting to login page
    setTimeout(function () {
        toUrl("/public/index.php");
    }, 3000);
</script>