<div class="row row-buffer">
    <div class="col-md-12">
        <div class="panel-group" id="channelAccordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#channelAccordion"
                           href="#assignedChannels">
                            Assigned channels ({{assignedChannels|length}})
                        </a>
                    </h4>
                </div>
                <div id="assignedChannels" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="table-column-center">Title</th>
                                    <th class="table-column-center">Description</th>
                                    <th class="table-column-center">Messages</th>
                                    <th class="table-column-center">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for channel in assignedChannels %}
                                <tr id="assignedChannelRow_{{channel.id}}">
                                    <td class="table-column-center">
                                        {% if channel.favorite == true %}
                                        <span class="glyphicon glyphicon-star" style="color:darkorange;"/>
                                        {% endif %}
                                        {{channel.title}}
                                    </td>
                                    <td class="table-column-center">{{channel.description}}</td>
                                    <td class="table-column-center">{{channel.msgCount}}</td>
                                    <td class="table-column-center">
                                        <a href="javascript:{}" id="deleteAssignment_{{loop.index}}"
                                           onclick="ajaxPostRequest('partialContent', '/public/start.php', 'viewId={{viewId}}&amp;actionId={{actionRemoveAssignedChannel}}&amp;channelId={{channel.id}}')"
                                           aria-label="Remove assignment"
                                           title="Remove assignment" style="margin-right: 10px;">
                                            <span class="glyphicon glyphicon-remove"
                                                  style="color:red; vertical-align:middle;"/>
                                        </a>
                                        <a href="javascript:{}" id="openChannel_{{loop.index}}"
                                           onclick="ajaxPostRequest('partialContent', '/public/start.php', 'viewId={{viewId}}&amp;actionId={{actionToSelectedChannel}}&amp;channelId={{channel.id}}&amp;favoriteOnly=0&amp;refresh=false')"
                                           aria-label="Open channel"
                                           title="Open channel" style="margin-right: 10px;">
                                    <span class="glyphicon glyphicon-eye-open"
                                          style="color:green; vertical-align:middle;"/>
                                        </a>
                                        {% if channel.favorite == false %}
                                        <a href="javascript:{}" id="setFavorite_{{loop.index}}"
                                           onclick="ajaxPostRequest('partialContent', '/public/start.php', 'viewId={{viewId}}&amp;actionId={{actionSaveFavoriteChannel}}&amp;channelId={{channel.id}}', successSetFocusOnChannel)"
                                           aria-label="Set favorite channel"
                                           title="Set favorite channel" style="margin-right: 10px;">
                        <span class="glyphicon glyphicon-star-empty"
                              style="color:darkorange; vertical-align:middle;"/>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="4" class="table-column-center">No channels available yet</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a id="availableChannelToggle" data-toggle="collapse"
                           href="#availableChannels" class="collapsed" data-parent="#channelAccordion">
                            Available channels ({{availableChannels|length}})
                        </a>
                    </h4>
                </div>
                <div id="availableChannels" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="table-column-center">Title</th>
                                    <th class="table-column-center">Description</th>
                                    <th class="table-column-center">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for channel in availableChannels %}
                                <tr id="availableChannelRow_{{channel.id}}">
                                    <td class="table-column-center">{{channel.title}}</td>
                                    <td class="table-column-center">{{channel.description}}</td>
                                    <td class="table-column-center">
                                        <a href="javascript:{}" id="assignChannel_{{loop.index}}"
                                           onclick="ajaxPostRequest('partialContent', '/public/start.php', 'viewId={{viewId}}&amp;actionId={{actionAssignChannel}}&amp;channelId={{channel.id}}', successSetFocusOnChannel)"
                                           aria-label="Open channel"
                                           title="Assign channel" style="margin-right: 10px;">
                                        <span class="glyphicon glyphicon-plus"
                                              style="color:green; vertical-align:middle;"/>
                                        </a></td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="4" class="table-column-center">You are assigned to all channels</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var successSetFocusOnChannel = function (resultObj, xhr, status) {
        var row = $('#assignedChannelRow_' + resultObj.channelId);
        if (row) {
            row.focus();
        }
    }
</script>