<div class="container">
    {% if message and messageType %}
    <div class="row row-buffer">
        <div class="col-sm-12">
            <div class="text-center">
                <div class="alert alert-{{messageType}} alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>{{message}}</strong>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row row-buffer">
        <div class="col-md-4 col-md-offset-4">
            <form id="newChannelForm" enctype="application/x-www-form-urlencoded" method="post"
                  data-toggle="validator" role="form">
                <input id='actionId' name='actionId' value="{{actionSaveChannel}}" type='hidden'/>
                <input id='viewId' name='viewId' value="{{viewId}}" type='hidden'/>

                <div class="form-group">
                    <label id="titleLabel" class="control-label">Title</label>
                    <input id="title" name="title"
                           value="{% if title%}{{title}}{%endif%}" type="text" class="form-control"
                           placeholder="Enter the channels title" required/>
                </div>
                <div class="form-group">
                    <label id="descriptionLabel" class="control-label">Description</label>
                    <input id="description" name="description"
                           value="{% if description%}{{description}}{%endif%}" type="text"
                           placeholder="Enter the channels description" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label id="favoriteLabel" class="control-label">Favorite</label>

                    <div class="control-label">
                        <label class="radio-inline"><input type="radio" name="favorite" value="1"
                                                           checked="{% if favorite and favorite == 1%}checked{%endif%}">Yes</label>
                        <label class="radio-inline"><input type="radio" name="favorite" value="0"
                                                           checked="{% if favorite and favorite == 0%}checked{%endif%}">No</label>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-default" style="margin: 5px;">
                        Save
                    </button>
                    <button type="button" class="btn btn-default" style="margin: 5px;"
                            onclick="postRequest('actionId={{actionToMain}}&viewId={{viewId}}')">Cancel
                    </button>
                </div>
            </form>
            <div class="col-md-4"></div>
            <script type="text/javascript">
                $('#newChannelForm').validator().on('submit', function (e) {
                    if (!e.isDefaultPrevented()) {
                        postRequest($("#newChannelForm").serialize());
                    }
                    return false;
                })
            </script>
        </div>
    </div>
</div>