<style type="text/css" xmlns:h="http://www.w3.org/1999/html">
    div.list-group-item-text {
        margin-top: 10px;
    }

    span.channel-message {
        display: block;
        margin-top: 5px;
    }

    span.channel-message-text {
        font-size: smaller;
    }

    span.channel-message-label {
        display: inline-block;
        font-size: x-small;
    }

    div.message-action-container {
        display: inline-block;
        width: 20%;
        min-width: 80px;
        float: left;
    }

    div.message-container {
        display: inline-block;
        width: 80%;
    }

    hr {
        margin-top: 15px;
        margin-bottom: 5px;
    }

    hr.message-divider {
        margin-top: 15px;
        margin-bottom: 5px;
    }

    hr.message-group-divider-first {
        margin-bottom: 15px;
    }

    div.list-group {
        padding: 10px;
        width: 100%;
    }

    div.channel-message {
        margin-top: 5px;
    }

    div.message-action-container * {
        float: left;
        margin: 0px 2px 0px 0px;
    }

    a.favorite {
    }

    a.favorite-selected {
    }

    span.last-message {

    }

    .center-horizontal-align {
        display: table margin-left : auto;
        margin-right: auto;
    }
</style>
<div class="row row-buffer">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="height: 600px; overflow-y: auto;">
        {% include 'partialChannelChat.html' %}
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row row-buffer">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div id="messageBox">
            <form id="postMessageForm" enctype="application/x-www-form-urlencoded" method="post"
                  data-toggle="validator" role="form">
                <div class="input-group" style="width: 100%">
                    <ul class="dropdown-menu dropdown-menu-top" aria-labelledby="dLabel" style="top: -75px; ">
                        <li>
                            <a id="postChannelMessage" href="javascript:{}"
                               onclick="$('#postMessageForm').submit();">
                                post
                            </a>
                        </li>
                        <li>
                            <a id="refreshChannelMessages" href="javascript:{}"
                               onclick="ajaxPostRequest('channelMessageContent', '/public/start.php', 'viewId={{viewId}}&amp;actionId={{actionToSelectedChannel}}&amp;channelId={{channel.id}}&amp;refresh=1&amp;favoriteOnly=' + favoriteChannelOnly, setFocusOnLastMessage)">
                                refresh
                            </a>
                        </li>
                        <li>
                            <a id="favoriteChannelOnlyLink" href="javascript:{}"
                               onclick="ajaxPostRequest('channelMessageContent', '/public/start.php', 'viewId={{viewId}}&amp;actionId={{actionToSelectedChannel}}&amp;channelId={{channel.id}}&amp;refresh=1&amp;favoriteOnly=' + invertIntegerFlag(favoriteChannelOnly), successFavoriteOnlyLink)">
                            </a>
                        </li>
                    </ul>
                    <a class="input-group-addon" id="messageLabel" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <span class="glyphicon glyphicon-text-background" aria-hidden="true"/>
                    </a>
                    <textarea id="messageTextArea" name="message" rows="3" class="form-control" required/>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<script type="text/javascript">
    <![CDATA[
    var
            favoriteChannelOnly = ("{{favoriteOnly}}" == "true") ? 1 : (("{{favoriteOnly}}" == "false") || ("{{favoriteOnly}}" == "")) ? 0 : null
            ,
            setImportantMessage = function (messageId, channelId) {
                // resolve necessary
                var
                        linkJQ = $('#setImportantMessageSpan_' + messageId),
                        classImportant = "glyphicon glyphicon-star",
                        classNotImportant = classImportant + "-empty";

                ajaxPostRequest('channelMessageContent', '/public/start.php', 'viewId={{viewId}}&actionId={{actionSetImportantMessage}}&channelId={{channel.id}}&channelId=' + channelId + '&messageId=' + messageId + '&importantFlag=' + ((linkJQ.attr("class") == classImportant) ? 0 : 1), null, function (resultObj, xhr, status) {
                    $('#refreshMessages').click();
                });
            },
            updateFavoriteOnlyLink = function () {
                if (favoriteChannelOnly === 1) {
                    $('#favoriteChannelOnlyLink').text('all');
                } else if (favoriteChannelOnly === 0) {
                    $('#favoriteChannelOnlyLink').text('favorites');
                } else {
                    throw "favoriteChannelOnly is null";
                }
            }
            ,
            successFavoriteOnlyLink = function (resultObj, xhr, status) {
                favoriteChannelOnly = invertIntegerFlag(favoriteChannelOnly);
                updateFavoriteOnlyLink();
                setFocusOnLastMessage();
            }
            ,
            refreshChannelMessagesDelayed = function () {
                window.setTimeout(function () {
                    $('#refreshChannelMessages').click();
                }, 1500);
            };

    // init validation on form and prepare for ajax submit
    $('#postMessageForm').validator().on('submit', function (e) {
        if (!e.isDefaultPrevented()) {
            ajaxPostRequestSubmitForm('postMessageForm', 'channelMessageContent', '/public/start.php', 'viewId={{viewId}}&actionId={{actionPostMessage}}&channelId={{channel.id}}', function (resultObj, xhr, status) {
                $('#messageTextArea').val('');
                setFocusOnLastMessage();
                $('#messageTextArea').focus();
            });
        }
        return false;
    });

    $('#messageTextArea').keyup(function (evt) {
        if ((evt.keyCode == 13) && (!evt.shiftKey)) {
            $('#postMessageForm').submit();
        }
    });

    updateFavoriteOnlyLink();
    ]]>
</script>