<div id="channelMessageContent">
    <div>
        <h4><b>#{{channel.title}}</b></h4>
        <span style="margin-left: 10px">{{channel.description}}</span>
    </div>
    <div class="list-group">
        {% for key, value in messages %}
        <hr class="message-group-divider-first">
        <h5 class="list-group-item-heading"><b>{{ key }}</b></h5>
        {% for i in 0..((value|length)-1) %}
        <div class="list-group-item-text">
            <hr class="message-divider">
            <span class="channel-message-label">({{ value[i].username }}) {{value[i].creation_date_time}}</span>

            <div class="channel-message">
                <div class="message-action-container">
                    <a href="javascript:{}"
                       onclick="setImportantMessage('{{value[i].id}}', '{{channel.id}}')"
                       aria-label="Important">
                        <small><span id="setImportantMessageSpan_{{value[i].id}}"
                                     class="glyphicon glyphicon-star{% if value[i].important_flag == 0 %}-empty{% endif %}"
                                     style="color:gold; vertical-align:middle;"/></small>
                    </a>
                    {%if value[i].read_flag == 0 %}
                    <a href="javascript:{}"
                       aria-label="Important">
                        <small><span id="radFlag_{{value[i].id}}"
                                     class="glyphicon glyphicon-flag"
                                     style="color:green; vertical-align:middle;"/></small>
                    </a>
                    {%endif%}
                    {% if (favoriteOnly == false) and (value[i].owned_flag == 1) and (loop.index ==
                    value|length) and (loop.parent.loop.index == messages|length ) %}
                    <a href="javascript:{}"
                       onclick="ajaxPostRequest('channelMessageContent', '/public/start.php', 'viewId={{viewId}}&amp;actionId={{actionDeleteMessage}}&amp;channelId={{channel.id}}&amp;refresh=1&amp;creationDate={{value[i].creation_date}}&amp;messageId={{value[i].id}}', setFocusOnLastMessage)"
                       aria-label="Remove" title="Remove">
                        <small><span class="glyphicon glyphicon-remove"
                                     style="color:red; vertical-align:middle;"/></small>
                    </a>
                    {% endif %}
                </div>
                <div class="message-container">
                    {% if (favoriteOnly == false) and (value[i].owned_flag == 1) and (loop.index ==
                    value|length) and (loop.parent.loop.index == messages|length ) %}
                    <a id="editMessage" href="#" class="last-message">{{ value[i].message }}</a>
                    <script type="text/javascript">
                        var editElement = $("#editMessage");
                        editElement.editable({
                            send: 'always',
                            type: 'textarea',
                            pk: "{{value[i].id}}",
                            url: '/public/start.php',
                            params: {
                                ajax: true,
                                viewId: "{{viewId}}",
                                actionId: "{{actionEditMessage}}",
                                channelId: "{{channel.id}}",
                                creationDate: "{{value[i].creation_date}}"
                            },
                            success: function (data) {
                                var resultObj = JSON.parse(data);
                                handleAjaxAlertMessage(resultObj);
                                if(resultObj.redirectUrl) {
                                    setTimeout(function(){
                                        toUrl(resultObj.redirectUrl);
                                    }, 3000);
                                    return;
                                }
                                if (resultObj.html) {
                                    $("#channelMessageContent").empty();
                                    $("#channelMessageContent").html(resultObj.html);
                                }
                            },
                            validate: function (value) {
                                if ($.trim(value) == '') {
                                    return 'Message must contain at least one character';
                                }
                            },
                            title: 'Edit message'
                        })
                        ;
                    </script>
                    {% else %}
                    <span id="message_{{ value[i].id }}"
                          class="channel-message-text  {% if (loop.parent.loop.index == messages|length) and (loop.index == value|length ) %}last-message{% endif %}">{{ value[i].message }}</span>
                    {% endif %}
                </div>

            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>