<div class="parent">
    <div class="child">
        <div class="container">
            <div class="row row-buffer">
                <div class="col-md-4 col-md-offset-4">
                    <div class="text-center">
                        <form id="successForm" enctype="application/x-www-form-urlencoded" method="post"
                              class="form-inline"
                              data-toggle="validator" role="form">
                            <input id='actionId' name='actionId' value="" type='hidden'/>
                            <input id='viewId' name='viewId' value="{{viewId}}" type='hidden'/>

                            <div class="alert alert-info">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <strong>{{message}}</strong></br>
                                You will be redirected to login. If you are not automatically redirect then click the
                                button below.
                            </div>
                            <div>
                                <button id="successButton" onclick="toLogin('{{actionToLogin}}')">To Login</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var toLogin = function (actionId) {
        setAction(actionId);
        $("#successForm").submit();
    }
    setTimeout(function () {
        toLogin('{{actionToLogin}}');
    }, 3000);
</script>