<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{cssRoot}}/bootstrap.min.css">
    <link rel="stylesheet" href="{{cssRoot}}/bootstrap-theme.min.css">
    <script type="text/javascript" src="{{jsRoot}}/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="{{jsRoot}}/loading-overlay.min.js"></script>
    <script type="text/javascript" src="{{jsRoot}}/bootstrap-3.3.5.min.js"></script>
    <script type="text/javascript" src="{{jsRoot}}/validator-min-0.9.js"></script>

    {%block header%}
    {%endblock%}

    <style type="text/css">
        footer{
            position:fixed;
            bottom:10px;
            left:10px;
            right:0px;
        }
    </style>
    <script type="text/javascript">
        var setAction = function (actionId) {
            $('#actionId').val(actionId);
        }
        var destroyValidation = function (formId) {
            $("#" + formId).validator('destroy');
        }
        var submitCancelWithValidation = function (formId, actionId) {
            destroyValidation(formId);
            setAction(actionId);
            $("#" + formId).submit();
        }
    </script>

    <title>{%block title%} {%endblock%}</title>
</head>
<body>
{% block content %}{% endblock %}
<footer>
    &copy; Copyright 2015 by Ing. Thomas Herzog</a>.
</footer>

</body>
</html>